<% provide(:title, 'Log in') %>
<h1>Sign in</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>
        
   
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form control' %>

      <%= f.label :password %>
      <%= f.password_field :password, class: 'password form control' %>
      <div class = "forgot_password">
       <%= link_to "(forgot password)", new_password_reset_path %>
      </div>
      <%= f.label :remember_me, class: "loginbox checkbox inline" do %>
      <%= f.check_box :remember_me %>
      <span> Remember me on this computer</span>
      <% end %>

      <%= f.submit "Log in", class: "log_in_button btn btn-primary" %>
    <% end %>
    
    <h3 class = "newuser">New user? <%= link_to "Sign up now!", signup_path %> </h3>
  </div>
</div>
