<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= currentinfo.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @info.last_name %>
</p>
<p>
  <strong>Middle name:</strong>
  <%= @info.middle_name %>
</p>

<p>
  <strong>Date of birth:</strong>
  <%= @info.date_of_birth %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @info.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @info.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @info.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @info.zip_code %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @info.phone %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @info.cell_phone %>
</p>

<p>
  <strong>Wife name:</strong>
  <%= @info.wife_name %>
</p>

<p>
  <strong>Wife date of birth:</strong>
  <%= @info.wife_date_of_birth %>
</p>

<p>
  <strong>Wedding anniversary:</strong>
  <%= @info.wedding_anniversary %>
</p>

<p>
  <strong>Diocese of ordination:</strong>
  <%= @info.diocese_of_ordination %>
</p>

<p>
  <strong>Ordination date:</strong>
  <%= @info.ordination_date %>
</p>

<p>
  <strong>Diocese of incardination:</strong>
  <%= @info.diocese_of_incardination %>
</p>

<p>
  <strong>Incardination date:</strong>
  <%= @info.incardination_date %>
</p>

<p>
  <strong>Military service:</strong>
  <%= @info.military_service %>
</p>

<p>
  <strong>Faculties:</strong>
  <%= @info.faculties %>
</p>

<p>
  <strong>Preaching:</strong>
  <%= @info.preaching %>
</p>

<p>
  <strong>Status:</strong>
  <%= @info.status %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @info.employer %>
</p>

<p>
  <strong>Employer address:</strong>
  <%= @info.employer_address %>
</p>

<p>
  <strong>Secondary address:</strong>
  <%= @info.secondary_address %>
</p>

<p>
  <strong>Secondary city:</strong>
  <%= @info.secondary_city %>
</p>

<p>
  <strong>String:</strong>
  <%= @info.string %>
</p>

<p>
  <strong>Secondary state:</strong>
  <%= @info.secondary_state %>
</p>

<p>
  <strong>Secondary zip:</strong>
  <%= @info.secondary_zip %>
</p>

<p>
  <strong>Secondary phone:</strong>
  <%= @info.secondary_phone %>
</p>

<p>
  <strong>Assignment:</strong>
  <%= @info.assignment %>
</p>

<p>
  <strong>Assignment location:</strong>
  <%= @info.assignment_location %>
</p>

<p>
  <strong>Assignment pastor:</strong>
  <%= @info.assignment_pastor %>
</p>

<p>
  <strong>Emergency contact name:</strong>
  <%= @info.emergency_contact_name %>
</p>

<p>
  <strong>Emergency contract phone:</strong>
  <%= @info.emergency_contract_phone %>
</p>

<p>
  <strong>User:</strong>
  <%= @info.user %>
</p>

<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
